main {
    text-align: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3crect width='279.6' height='279.6' clip-path='url(%26quot%3b%23SvgjsClipPath1010%26quot%3b)' x='26.35' y='60' fill='url(%23SvgjsPattern1011)' transform='rotate(325.13%2c 166.15%2c 199.8)'%3e%3c/rect%3e%3crect width='336' height='336' clip-path='url(%26quot%3b%23SvgjsClipPath1012%26quot%3b)' x='1039.49' y='-101.43' fill='url(%23SvgjsPattern1013)' transform='rotate(155.95%2c 1207.49%2c 66.57)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='594.18' cy='504.02' stroke='%23e73635' stroke-width='1.93'%3e%3c/circle%3e%3cpath d='M704.09 401.58000000000004 L743.36 359L683.3410650878986 339.9060650878987z' fill='%23037b0b'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='1181.49' cy='346.38' stroke='%23e73635' stroke-width='1.83' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M130.58 494.38a5.6 5.6 0 1 0-11.1-1.48 5.6 5.6 0 1 0 11.1 1.48zM114.72 492.26a5.6 5.6 0 1 0-11.1-1.48 5.6 5.6 0 1 0 11.1 1.48zM98.86 490.15a5.6 5.6 0 1 0-11.1-1.49 5.6 5.6 0 1 0 11.1 1.49zM83 488.03a5.6 5.6 0 1 0-11.1-1.49 5.6 5.6 0 1 0 11.1 1.49zM164.41 482.76a5.6 5.6 0 1 0-11.1-1.48 5.6 5.6 0 1 0 11.1 1.48zM148.55 480.64a5.6 5.6 0 1 0-11.1-1.48 5.6 5.6 0 1 0 11.1 1.48zM132.7 478.52a5.6 5.6 0 1 0-11.11-1.48 5.6 5.6 0 1 0 11.11 1.48zM116.84 476.4a5.6 5.6 0 1 0-11.1-1.48 5.6 5.6 0 1 0 11.1 1.48z' fill='%23037b0b'%3e%3c/path%3e%3ccircle r='74.49818117577917' cx='694.45' cy='358.2' fill='%23e73635'%3e%3c/circle%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1014%26quot%3b)' x='1226.71' y='259.78' fill='url(%23SvgjsPattern1015)' transform='rotate(251.17%2c 1256.71%2c 289.78)'%3e%3c/rect%3e%3cpath d='M160.5 295.68a5.6 5.6 0 1 0-8.89 6.81 5.6 5.6 0 1 0 8.89-6.81zM147.8 305.41a5.6 5.6 0 1 0-8.9 6.81 5.6 5.6 0 1 0 8.9-6.81zM135.09 315.14a5.6 5.6 0 1 0-8.89 6.81 5.6 5.6 0 1 0 8.89-6.81zM122.39 324.86a5.6 5.6 0 1 0-8.89 6.81 5.6 5.6 0 1 0 8.89-6.81z' fill='rgba(20%2c 39%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M621.01 66.79a5.6 5.6 0 1 0-8.44 7.37 5.6 5.6 0 1 0 8.44-7.37zM608.95 77.31a5.6 5.6 0 1 0-8.44 7.37 5.6 5.6 0 1 0 8.44-7.37zM596.9 87.83a5.6 5.6 0 1 0-8.44 7.37 5.6 5.6 0 1 0 8.44-7.37zM584.84 98.35a5.6 5.6 0 1 0-8.44 7.37 5.6 5.6 0 1 0 8.44-7.37zM634.6 33.7a5.6 5.6 0 1 0-8.44 7.36 5.6 5.6 0 1 0 8.44-7.36zM622.54 44.22a5.6 5.6 0 1 0-8.44 7.36 5.6 5.6 0 1 0 8.44-7.36zM610.49 54.74a5.6 5.6 0 1 0-8.44 7.36 5.6 5.6 0 1 0 8.44-7.36zM598.43 65.26a5.6 5.6 0 1 0-8.44 7.36 5.6 5.6 0 1 0 8.44-7.36z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M297.44 493.73L288.46 484.6 295.39 473.83 286.41 464.7 293.35 453.94 284.37 444.81 291.3 434.04M305.4 492.91L296.42 483.78 303.35 473.01 294.37 463.89 301.31 453.12 292.32 443.99 299.26 433.22' stroke='%23e73635' stroke-width='1.29' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M1574.96 152.83 L1573.56 197.07L1555.372976882738 156.06297688273793z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='279.6' height='9.32' patternUnits='userSpaceOnUse' id='SvgjsPattern1011'%3e%3crect width='279.6' height='4.66' x='0' y='0' fill='%23037b0b'%3e%3c/rect%3e%3crect width='279.6' height='4.66' x='0' y='4.66' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1010'%3e%3ccircle r='69.9' cx='166.15' cy='199.8'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1013'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(20%2c 39%2c 211%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1012'%3e%3ccircle r='84' cx='1207.49' cy='66.57'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1015'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(20%2c 39%2c 211%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1014'%3e%3ccircle r='15' cx='1256.71' cy='289.78'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");

    color: darkgray;
}

main h2 {
    padding: 100px;
    font-size: 70px;
}

main div {
    padding: 50px;
}

form label {
    font-size: 35px;
}

form textarea {
    width: 100%;
    border-radius: 10px;
}

form button {
    border-radius: 10px;
}

#msg {
    padding: 0;
}

#posts {
    padding: 0;
}

footer {
    background: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer p {
    margin: 0
}